<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Create Group Poll</h1>
      <label for="title">Title</label>
      <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" type="text" id="title" placeholder="What's the occasion" required/>
      <label for="description">Description (optional)</label>
      <textarea [(ngModel)]="description" id="description" name="description" rows="4" cols="50" placeholder="Description"></textarea>
      <label for="date">Choose a date</label>
      <form>
      <input [(ngModel)]="date" type="date" id="date" name="date" required>
      <label for="time">Choose a time</label>
      <input [(ngModel)]="time" type="time" id="time" name="time" min="08:00" max="19:00" required>
      <small>Office hours are from 08:00 to 19:00</small>
      <br>
      <button type="button" style="align-self: center; padding: 10px;" (click)="addNewTime($event)">Add slot</button>
      </form>

      <div>
        <div *ngFor="let time of times" class="time">
          <p>{{time.toUTCString()}}</p>
        </div>
      </div>

      <button type="button" (click)="submit($event)">Create poll and continue</button>
    <br>
    </form>
  </div>
</div>
